div#servers {
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

div.server {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2vw;
}

div.server > label {
    font-size: 1.5em;
    font-weight: bold;
}

a.console {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

a.console > label {
    font-size: 1em;
    font-weight: bold;
}
