:root {
    --refresh-icon: url("https://img.icons8.com/ios-glyphs/256/444444/refresh--v1.png");
}

:root:has([theme="dark"]) {
    --refresh-icon: url("https://img.icons8.com/ios-glyphs/256/eeeeee/refresh--v1.png");
}

/* Images Preload */
body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: var(--refresh-icon);
}

*::selection {
    color: var(--text-color);
    background-color: #8888;
}

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.column {
    flex-direction: column;
}

.flex.align {
    align-items: center;
}

.user-but {
    cursor: pointer;
    border: none;
    outline: none;
    opacity: 1;
    color: var(--text-color);
    background-color: var(--element-color);
    transition: background-color var(--theme-time) ease, filter var(--hover-time) ease, color var(--theme-time) ease;
}

.user-but.txt {
    padding: 10px;
}

.user-but.icon {
    transition: background-color var(--theme-time) ease, filter var(--hover-time) ease, background-image var(--theme-time) ease;
}

.user-but:hover {
    filter: brightness(1.1) drop-shadow(0 0 2px var(--hover-color));
}

.user-but:active {
    filter: brightness(0.95) drop-shadow(0 0 2px var(--hover-color));
}

.user-but:disabled {
    opacity: 0.5;
    pointer-events: none;
}

@keyframes loading {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    border: 10px solid #333;
    border-top-color: #102a;
    opacity: 0.9;
    animation: loading 1s linear infinite;
    transition: border-color var(--theme-time) ease;
}

#content {
    margin-top: 40px;
    gap: 40px;
}

#dl-add {
    gap: 40px;
}

#dl-add-container {
    /* gap: 80px; */
    width: 60%;
    justify-content: space-between;
}

#dl-input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border: 2px dashed #222245;
    transition: background-color 0.3s ease, border var(--theme-time) ease;
}

body[mobile] #dl-input-container {
    width: 6em;
    height: 6em;
}

body[theme="dark"] #dl-input-container {
    border: 2px dashed #eee;
}

#dl-input-container[drag-over] {
    background-color: #222245bb;
}

#dl-input-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#dl-drag-drop {
    font-size: 14px;
    user-select: none;
    color: #222245;
    transition: color 0.3s ease;
}

body[theme="dark"] #dl-drag-drop {
    color: #eee;
}

#dl-input-container[drag-over] #dl-drag-drop {
    color: #fff;
}

#dl-input-but {
    padding: 8px;
    border: 2px solid #56568f;
    background-color: #1e1e3f;
    color: #fff;
    user-select: none;
}

#dl-input-but:hover {
    cursor: pointer;
}

#dl-input {
    display: none;
}

#dl-file-info {
    width: 200px;
    height: 100%;
    gap: 5px;
}

.dl-info-label {
    color: var(--text-color);
    transition: color var(--theme-time) ease;
}

.dl-info-label::before {
    display: inline-block;
    width: 60px;
    content: attr(data-label) ":";
    font-weight: bold;
}

#dl-file-name {
}

#dl-file-size {
}

#dl-file-options {
    gap: 10px;
}

.dl-file-option-label {
    width: 60px;
    color: var(--text-color);
    transition: color var(--theme-time) ease;
}

#dl-progress-container {
    width: 90%;
}

#dl-progress {
    width: 100%;
    height: 20px;
    border: 2px solid #333;
    overflow: hidden;
}

#dl-progress::-webkit-progress-bar {
    background-color: #444;
}

#dl-progress::-webkit-progress-value {
    background-color: #ddd;
    transition: width 0.5s ease-in-out;
}

#dl-progress-info {
    width: 40px;
    text-align: center;
    font-weight: bold;
    color: var(--text-color);
    transition: color var(--theme-time) ease;
}

#dl-progress-info::after {
    content: "%";
}

#tools {
    gap: 20px;
}

:is(input[type="text"], input[type="number"]) {
    padding: 5px;
    border: none;
    outline: 2px solid transparent;
    font-size: 1em;
    color: var(--text-color);
    background-color: var(--element-color);
    transition: background-color var(--theme-time) ease, color var(--theme-time) ease, outline var(--hover-time) ease;
}

:is(input[type="text"], input[type="number"])::placeholder {
    /* color: var(--text-color); */
}

:is(input[type="text"], input[type="number"]):focus {
    outline: 2px solid var(--hover-color);
}

input[type="number"] {
    width: 45px;
}

#refresh {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-image: var(--refresh-icon);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes refresh-spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        transform: rotate(180deg);
    }
}

#content:has(#dl-list-container[loading]) #refresh {
    animation: refresh-spin 1s linear infinite;
    animation-timing-function: ease-in-out;
    filter: opacity(0.5);
    pointer-events: none;
}

#dl-list-container {
    transition: filter var(--theme-time) ease;
}

#dl-list-container[loading] {
    filter: opacity(0.7);
    pointer-events: none;
}

#content:has(#dl-list-container:not([loading])) .loading {
    display: none;
}

#dl-list {
    --border: 2px solid var(--element-color);
    width: 100%;
    border: var(--border);
    border-collapse: collapse;
    transition: border-color var(--theme-time) ease;
}

#dl-list th {
    border-bottom: var(--border);
    color: var(--text-color);
    /* filter: brightness(0.8); */
    filter: opacity(0.9);
    padding: 10px;
    transition: border-color var(--theme-time) ease, color var(--theme-time) ease;
}

#dl-list th:not(:last-child) {
    border-right: 1px solid var(--element-color);
}

.dl-cell {
    padding: 10px;
    font-size: 1em;
    color: var(--text-color);
    transition: color var(--theme-time) ease;
    border-bottom: 1px solid var(--element-color);
    border-right: 1px dotted var(--element-color);
    transition: border-color var(--theme-time) ease, color var(--theme-time) ease;
}

.dl-name {
    font-weight: bold;
    min-width: 200px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dl-path {
    font-size: 0.8em;
    min-width: 400px;
    max-width: 400px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dl-level {
    text-align: center;
}

.dl-size {
    text-align: center;
    font-weight: bold;
}

.dl-creation {
    text-align: center;
}

.dl-update {
    text-align: center;
}

.dl-action {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

tr[editing] :is(.dl-edit, .dl-delete, .dl-cell-content:has(+ .dl-edit-input)),
tr:not([editing]) :is(.dl-save, .dl-cancel, .dl-edit-input) {
    display: none;
}

.dl-copy {
    position: relative;
}

.dl-copy[copy]::after {
    animation: copy 2s ease;
}

@keyframes copy {
    0% {
        opacity: 0;
        top: 50%;
        right: 50%;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
        top: -5px;
        right: 0px;
    }
    100% {
        opacity: 0;
        top: -5px;
        right: 0px;
    }
}

.dl-copy::after {
    content: "Copied!";
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    opacity: 0;
    padding: 7px;
    border-radius: 5px;
    font-size: 0.8em;
    color: var(--text-color);
    background-color: #222;
    transition: color var(--theme-time) ease, opacity 1s ease;
}
