@import url(./theme-input.css);
@import url(./user-box.css);

:root {
    --icon-main: url("/resources/images/icons/icon-128px.png");
    /* --icon-gamepad-light: url("/resources/images/icons/gamepad-icon-light-128px.png"); */
    /* --icon-gamepad-dark: url("/resources/images/icons/gamepad-icon-dark-128px.png"); */
    /* --icon-trad: url("/resources/images/icons/trad-logo-128px.png"); */
    /* --icon-korea: url("/resources/images/icons/korea-icon-128px.png"); */
}

/* Images Preload */

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: var(--icon-main);
    /* var(--icon-gamepad-light)  */
    /* var(--icon-gamepad-dark)  */
    /* var(--icon-trad) */
    /* var(--icon-korea) */
}

[preload],
[preload] * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

body {
    background-color: var(--background-color-light);
    transition: background-color var(--theme-time) ease;
}

body[theme="dark"] {
    background-color: var(--background-color-dark);
}

*::selection {
    background-color: #66666644;
}

body[theme="dark"] *::selection {
    background-color: #cccccc44;
}

/* ---------------------------------------------------- */

#upper-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    box-shadow: 5px 5px 30px -15px #000;
    padding: 20px 30px;
    border-radius: 10px;
}

body[mobile] #upper-panel {
    padding: 0;
    margin: 5px 10px;
}

.upper-panel-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

body[mobile] .upper-panel-row {
    /* flex-direction: column; */
    /* gap: 20px; */
}

.upper-panel-row:first-of-type {
    justify-content: space-between;
}

body[mobile] .upper-panel-row:first-of-type > * {
    /* justify-content: space-between;
    width: 100%; */
}

.upper-panel-row:has(nav) {
    justify-content: center;
}

#upper-panel-left {
    --icon-size: 13vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 3vw;
}

.site-icon {
    position: relative;
    width: var(--icon-size);
    height: var(--icon-size);
    max-width: 64px;
    max-height: 64px;
    /* overflow: hidden; */
    background-size: contain;
    background-repeat: no-repeat;
    transition: filter var(--hover-time) ease, background-image var(--theme-time) ease;
}

body[mobile] .site-icon {
    width: 32px;
    height: 32px;
}

.site-icon:hover {
    filter: drop-shadow(2px 2px 5px var(--hover-color-light)) brightness(1.01);
}

body[theme="dark"] .site-icon:hover {
    filter: drop-shadow(2px 2px 5px var(--hover-color-dark)) brightness(1.01);
}

.site-icon a {
    position: absolute;
    width: 100%;
    height: 100%;
}

#icon-main {
    /* border-radius: 50%; */
    background-image: var(--icon-main);
}

#icon-manager {
    background-image: var(--icon-gamepad-light);
}

body[theme="dark"] #icon-manager {
    background-image: var(--icon-gamepad-dark);
}

#icon-lang {
    background-image: var(--icon-trad);
}

#icon-korea {
    background-image: var(--icon-korea);
}

#upper-panel-right {
    display: flex;
    align-items: center;
    gap: 3vw;
}

/* ---------------------------------------------------- */

/* #menu {
    --element-size: 16px;
    --space: 6px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space);
    margin-top: 10px;
}

.menu-element {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 0 var(--space);
}

body[mobile] .menu-element:not(:has(#icon-home)) {
    display: none;
}

.menu-element a {
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: var(--element-size);
    display: block;
    color: black;
    background-color: var(--background-color-light);
    transition: background-color var(--theme-time) ease, color var(--theme-time) ease, filter var(--hover-time) ease;
}

body[theme="dark"] .menu-element a {
    background-color: var(--background-color-dark);
    color: var(--text-color-dark);
}

.menu-element a:hover {
    filter: drop-shadow(2px 2px 3px var(--hover-color-light));
}

body[theme="dark"] .menu-element a:hover {
    filter: drop-shadow(2px 2px 3px var(--hover-color-dark));
} */

/* ---------------------------------------------------- */

/* #admin-link {
    margin-right: 10px;
}

#admin-link:not([active]) {
    display: none;
}

#admin-link a {
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    background-color: #a200ff;
    padding: 7px 10px;
}

#icon-home {
    background-image: var(--icon-home-light);
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--element-size);
    height: var(--element-size);
    transition: filter var(--theme-time) ease;
}

body[theme="dark"] #icon-home {
    filter: invert(1);
}

body[mobile] #icon-home {
    width: 20px;
    height: 20px;
} */
