/* Theme checkbox */

#theme-input {
    display: none;
}
#theme-input,
#theme-input:after,
#theme-input:before,
#theme-input *,
#theme-input *:after,
#theme-input *:before,
#theme-input + #theme-input-btn {
    box-sizing: border-box;
}
#theme-input::-moz-selection,
#theme-input:after::-moz-selection,
#theme-input:before::-moz-selection,
#theme-input *::-moz-selection,
#theme-input *:after::-moz-selection,
#theme-input *:before::-moz-selection,
#theme-input + #theme-input-button::-moz-selection {
    background: none;
}
#theme-input::selection,
#theme-input:after::selection,
#theme-input:before::selection,
#theme-input *::selection,
#theme-input *:after::selection,
#theme-input *:before::selection,
#theme-input + #theme-input-button::selection {
    background: none;
}
#theme-input + #theme-input-button {
    --theme-input-width: 70px;
    --theme-input-height: calc(var(--theme-input-width) / 2);
    outline: 0;
    display: block;
    width: var(--theme-input-width);
    height: var(--theme-input-height);
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#theme-input + #theme-input-button:after,
#theme-input + #theme-input-button:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
#theme-input + #theme-input-button:after {
    left: 0;
}
#theme-input + #theme-input-button:before {
    display: none;
}
#theme-input:checked + #theme-input-button:after {
    left: 50%;
}

#theme-input + #theme-input-button {
    border-radius: 2em;
    padding: 2px;
    background-color: var(--element-color-light);
    transition: background-color var(--theme-time) ease, filter var(--hover-time) ease;
}

#theme-input + #theme-input-button:hover,
#change-lang .input:hover {
    filter: brightness(1.03);
}

#theme-input:checked + #theme-input-button:hover,
body[theme="dark"] #change-lang .input:hover {
    filter: brightness(1.1);
}

#theme-input:checked + #theme-input-button {
    background: var(--element-color-dark);
}

#theme-input + #theme-input-button:after {
    border-radius: 50%;
    background-color: var(--element-color-light);
    background-image: var(--icon-sun-yellow);
    background-size: calc(var(--theme-input-height) - 10px);
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color var(--theme-time) ease, background-image var(--theme-time) ease, left var(--theme-time) ease;
}

#theme-input:checked + #theme-input-button::after {
    background-color: var(--element-color-dark);
    background-image: var(--icon-moon-cyan);
}
