:root {
    /* --user-gradient-color-1: #ddd;
    --user-gradient-color-2: #ddd; */
    --default-gradient-color: #888;
    --user-gradient-color-1: var(--default-gradient-color);
    --user-gradient-color-2: var(--default-gradient-color);
    --user-gradient: var(--user-gradient-color-1) 0%, var(--user-gradient-color-2) 100%;
    --user-gradient-anim: linear-gradient(135deg, var(--user-gradient));
}

:root:has([theme="dark"]) {
    /* --user-gradient-color-1: #555;
    --user-gradient-color-2: #555; */
}

@keyframes user-gradient {
    /* 500 */
    0.00% {
        --user-gradient-anim: linear-gradient(135deg, var(--user-gradient));
    }
    0.20% {
        --user-gradient-anim: linear-gradient(135.7deg, var(--user-gradient));
    }
    0.40% {
        --user-gradient-anim: linear-gradient(136.4deg, var(--user-gradient));
    }
    0.60% {
        --user-gradient-anim: linear-gradient(137.2deg, var(--user-gradient));
    }
    0.80% {
        --user-gradient-anim: linear-gradient(137.9deg, var(--user-gradient));
    }
    1.00% {
        --user-gradient-anim: linear-gradient(138.6deg, var(--user-gradient));
    }
    1.20% {
        --user-gradient-anim: linear-gradient(139.3deg, var(--user-gradient));
    }
    1.40% {
        --user-gradient-anim: linear-gradient(140deg, var(--user-gradient));
    }
    1.60% {
        --user-gradient-anim: linear-gradient(140.8deg, var(--user-gradient));
    }
    1.80% {
        --user-gradient-anim: linear-gradient(141.5deg, var(--user-gradient));
    }
    2.00% {
        --user-gradient-anim: linear-gradient(142.2deg, var(--user-gradient));
    }
    2.20% {
        --user-gradient-anim: linear-gradient(142.9deg, var(--user-gradient));
    }
    2.40% {
        --user-gradient-anim: linear-gradient(143.6deg, var(--user-gradient));
    }
    2.60% {
        --user-gradient-anim: linear-gradient(144.4deg, var(--user-gradient));
    }
    2.80% {
        --user-gradient-anim: linear-gradient(145.1deg, var(--user-gradient));
    }
    3.00% {
        --user-gradient-anim: linear-gradient(145.8deg, var(--user-gradient));
    }
    3.20% {
        --user-gradient-anim: linear-gradient(146.5deg, var(--user-gradient));
    }
    3.40% {
        --user-gradient-anim: linear-gradient(147.2deg, var(--user-gradient));
    }
    3.60% {
        --user-gradient-anim: linear-gradient(148deg, var(--user-gradient));
    }
    3.80% {
        --user-gradient-anim: linear-gradient(148.7deg, var(--user-gradient));
    }
    4.00% {
        --user-gradient-anim: linear-gradient(149.4deg, var(--user-gradient));
    }
    4.20% {
        --user-gradient-anim: linear-gradient(150.1deg, var(--user-gradient));
    }
    4.40% {
        --user-gradient-anim: linear-gradient(150.8deg, var(--user-gradient));
    }
    4.60% {
        --user-gradient-anim: linear-gradient(151.6deg, var(--user-gradient));
    }
    4.80% {
        --user-gradient-anim: linear-gradient(152.3deg, var(--user-gradient));
    }
    5.00% {
        --user-gradient-anim: linear-gradient(153deg, var(--user-gradient));
    }
    5.20% {
        --user-gradient-anim: linear-gradient(153.7deg, var(--user-gradient));
    }
    5.40% {
        --user-gradient-anim: linear-gradient(154.4deg, var(--user-gradient));
    }
    5.60% {
        --user-gradient-anim: linear-gradient(155.2deg, var(--user-gradient));
    }
    5.80% {
        --user-gradient-anim: linear-gradient(155.9deg, var(--user-gradient));
    }
    6.00% {
        --user-gradient-anim: linear-gradient(156.6deg, var(--user-gradient));
    }
    6.20% {
        --user-gradient-anim: linear-gradient(157.3deg, var(--user-gradient));
    }
    6.40% {
        --user-gradient-anim: linear-gradient(158deg, var(--user-gradient));
    }
    6.60% {
        --user-gradient-anim: linear-gradient(158.8deg, var(--user-gradient));
    }
    6.80% {
        --user-gradient-anim: linear-gradient(159.5deg, var(--user-gradient));
    }
    7.00% {
        --user-gradient-anim: linear-gradient(160.2deg, var(--user-gradient));
    }
    7.20% {
        --user-gradient-anim: linear-gradient(160.9deg, var(--user-gradient));
    }
    7.40% {
        --user-gradient-anim: linear-gradient(161.6deg, var(--user-gradient));
    }
    7.60% {
        --user-gradient-anim: linear-gradient(162.4deg, var(--user-gradient));
    }
    7.80% {
        --user-gradient-anim: linear-gradient(163.1deg, var(--user-gradient));
    }
    8.00% {
        --user-gradient-anim: linear-gradient(163.8deg, var(--user-gradient));
    }
    8.20% {
        --user-gradient-anim: linear-gradient(164.5deg, var(--user-gradient));
    }
    8.40% {
        --user-gradient-anim: linear-gradient(165.2deg, var(--user-gradient));
    }
    8.60% {
        --user-gradient-anim: linear-gradient(166deg, var(--user-gradient));
    }
    8.80% {
        --user-gradient-anim: linear-gradient(166.7deg, var(--user-gradient));
    }
    9.00% {
        --user-gradient-anim: linear-gradient(167.4deg, var(--user-gradient));
    }
    9.20% {
        --user-gradient-anim: linear-gradient(168.1deg, var(--user-gradient));
    }
    9.40% {
        --user-gradient-anim: linear-gradient(168.8deg, var(--user-gradient));
    }
    9.60% {
        --user-gradient-anim: linear-gradient(169.6deg, var(--user-gradient));
    }
    9.80% {
        --user-gradient-anim: linear-gradient(170.3deg, var(--user-gradient));
    }
    10.00% {
        --user-gradient-anim: linear-gradient(171deg, var(--user-gradient));
    }
    10.20% {
        --user-gradient-anim: linear-gradient(171.7deg, var(--user-gradient));
    }
    10.40% {
        --user-gradient-anim: linear-gradient(172.4deg, var(--user-gradient));
    }
    10.60% {
        --user-gradient-anim: linear-gradient(173.2deg, var(--user-gradient));
    }
    10.80% {
        --user-gradient-anim: linear-gradient(173.9deg, var(--user-gradient));
    }
    11.00% {
        --user-gradient-anim: linear-gradient(174.6deg, var(--user-gradient));
    }
    11.20% {
        --user-gradient-anim: linear-gradient(175.3deg, var(--user-gradient));
    }
    11.40% {
        --user-gradient-anim: linear-gradient(176deg, var(--user-gradient));
    }
    11.60% {
        --user-gradient-anim: linear-gradient(176.8deg, var(--user-gradient));
    }
    11.80% {
        --user-gradient-anim: linear-gradient(177.5deg, var(--user-gradient));
    }
    12.00% {
        --user-gradient-anim: linear-gradient(178.2deg, var(--user-gradient));
    }
    12.20% {
        --user-gradient-anim: linear-gradient(178.9deg, var(--user-gradient));
    }
    12.40% {
        --user-gradient-anim: linear-gradient(179.6deg, var(--user-gradient));
    }
    12.60% {
        --user-gradient-anim: linear-gradient(180.4deg, var(--user-gradient));
    }
    12.80% {
        --user-gradient-anim: linear-gradient(181.1deg, var(--user-gradient));
    }
    13.00% {
        --user-gradient-anim: linear-gradient(181.8deg, var(--user-gradient));
    }
    13.20% {
        --user-gradient-anim: linear-gradient(182.5deg, var(--user-gradient));
    }
    13.40% {
        --user-gradient-anim: linear-gradient(183.2deg, var(--user-gradient));
    }
    13.60% {
        --user-gradient-anim: linear-gradient(184deg, var(--user-gradient));
    }
    13.80% {
        --user-gradient-anim: linear-gradient(184.7deg, var(--user-gradient));
    }
    14.00% {
        --user-gradient-anim: linear-gradient(185.4deg, var(--user-gradient));
    }
    14.20% {
        --user-gradient-anim: linear-gradient(186.1deg, var(--user-gradient));
    }
    14.40% {
        --user-gradient-anim: linear-gradient(186.8deg, var(--user-gradient));
    }
    14.60% {
        --user-gradient-anim: linear-gradient(187.6deg, var(--user-gradient));
    }
    14.80% {
        --user-gradient-anim: linear-gradient(188.3deg, var(--user-gradient));
    }
    15.00% {
        --user-gradient-anim: linear-gradient(189deg, var(--user-gradient));
    }
    15.20% {
        --user-gradient-anim: linear-gradient(189.7deg, var(--user-gradient));
    }
    15.40% {
        --user-gradient-anim: linear-gradient(190.4deg, var(--user-gradient));
    }
    15.60% {
        --user-gradient-anim: linear-gradient(191.2deg, var(--user-gradient));
    }
    15.80% {
        --user-gradient-anim: linear-gradient(191.9deg, var(--user-gradient));
    }
    16.00% {
        --user-gradient-anim: linear-gradient(192.6deg, var(--user-gradient));
    }
    16.20% {
        --user-gradient-anim: linear-gradient(193.3deg, var(--user-gradient));
    }
    16.40% {
        --user-gradient-anim: linear-gradient(194deg, var(--user-gradient));
    }
    16.60% {
        --user-gradient-anim: linear-gradient(194.8deg, var(--user-gradient));
    }
    16.80% {
        --user-gradient-anim: linear-gradient(195.5deg, var(--user-gradient));
    }
    17.00% {
        --user-gradient-anim: linear-gradient(196.2deg, var(--user-gradient));
    }
    17.20% {
        --user-gradient-anim: linear-gradient(196.9deg, var(--user-gradient));
    }
    17.40% {
        --user-gradient-anim: linear-gradient(197.6deg, var(--user-gradient));
    }
    17.60% {
        --user-gradient-anim: linear-gradient(198.4deg, var(--user-gradient));
    }
    17.80% {
        --user-gradient-anim: linear-gradient(199.1deg, var(--user-gradient));
    }
    18.00% {
        --user-gradient-anim: linear-gradient(199.8deg, var(--user-gradient));
    }
    18.20% {
        --user-gradient-anim: linear-gradient(200.5deg, var(--user-gradient));
    }
    18.40% {
        --user-gradient-anim: linear-gradient(201.2deg, var(--user-gradient));
    }
    18.60% {
        --user-gradient-anim: linear-gradient(202deg, var(--user-gradient));
    }
    18.80% {
        --user-gradient-anim: linear-gradient(202.7deg, var(--user-gradient));
    }
    19.00% {
        --user-gradient-anim: linear-gradient(203.4deg, var(--user-gradient));
    }
    19.20% {
        --user-gradient-anim: linear-gradient(204.1deg, var(--user-gradient));
    }
    19.40% {
        --user-gradient-anim: linear-gradient(204.8deg, var(--user-gradient));
    }
    19.60% {
        --user-gradient-anim: linear-gradient(205.6deg, var(--user-gradient));
    }
    19.80% {
        --user-gradient-anim: linear-gradient(206.3deg, var(--user-gradient));
    }
    20.00% {
        --user-gradient-anim: linear-gradient(207deg, var(--user-gradient));
    }
    20.20% {
        --user-gradient-anim: linear-gradient(207.7deg, var(--user-gradient));
    }
    20.40% {
        --user-gradient-anim: linear-gradient(208.4deg, var(--user-gradient));
    }
    20.60% {
        --user-gradient-anim: linear-gradient(209.2deg, var(--user-gradient));
    }
    20.80% {
        --user-gradient-anim: linear-gradient(209.9deg, var(--user-gradient));
    }
    21.00% {
        --user-gradient-anim: linear-gradient(210.6deg, var(--user-gradient));
    }
    21.20% {
        --user-gradient-anim: linear-gradient(211.3deg, var(--user-gradient));
    }
    21.40% {
        --user-gradient-anim: linear-gradient(212deg, var(--user-gradient));
    }
    21.60% {
        --user-gradient-anim: linear-gradient(212.8deg, var(--user-gradient));
    }
    21.80% {
        --user-gradient-anim: linear-gradient(213.5deg, var(--user-gradient));
    }
    22.00% {
        --user-gradient-anim: linear-gradient(214.2deg, var(--user-gradient));
    }
    22.20% {
        --user-gradient-anim: linear-gradient(214.9deg, var(--user-gradient));
    }
    22.40% {
        --user-gradient-anim: linear-gradient(215.6deg, var(--user-gradient));
    }
    22.60% {
        --user-gradient-anim: linear-gradient(216.4deg, var(--user-gradient));
    }
    22.80% {
        --user-gradient-anim: linear-gradient(217.1deg, var(--user-gradient));
    }
    23.00% {
        --user-gradient-anim: linear-gradient(217.8deg, var(--user-gradient));
    }
    23.20% {
        --user-gradient-anim: linear-gradient(218.5deg, var(--user-gradient));
    }
    23.40% {
        --user-gradient-anim: linear-gradient(219.2deg, var(--user-gradient));
    }
    23.60% {
        --user-gradient-anim: linear-gradient(220deg, var(--user-gradient));
    }
    23.80% {
        --user-gradient-anim: linear-gradient(220.7deg, var(--user-gradient));
    }
    24.00% {
        --user-gradient-anim: linear-gradient(221.4deg, var(--user-gradient));
    }
    24.20% {
        --user-gradient-anim: linear-gradient(222.1deg, var(--user-gradient));
    }
    24.40% {
        --user-gradient-anim: linear-gradient(222.8deg, var(--user-gradient));
    }
    24.60% {
        --user-gradient-anim: linear-gradient(223.6deg, var(--user-gradient));
    }
    24.80% {
        --user-gradient-anim: linear-gradient(224.3deg, var(--user-gradient));
    }
    25.00% {
        --user-gradient-anim: linear-gradient(225deg, var(--user-gradient));
    }
    25.20% {
        --user-gradient-anim: linear-gradient(225.7deg, var(--user-gradient));
    }
    25.40% {
        --user-gradient-anim: linear-gradient(226.4deg, var(--user-gradient));
    }
    25.60% {
        --user-gradient-anim: linear-gradient(227.2deg, var(--user-gradient));
    }
    25.80% {
        --user-gradient-anim: linear-gradient(227.9deg, var(--user-gradient));
    }
    26.00% {
        --user-gradient-anim: linear-gradient(228.6deg, var(--user-gradient));
    }
    26.20% {
        --user-gradient-anim: linear-gradient(229.3deg, var(--user-gradient));
    }
    26.40% {
        --user-gradient-anim: linear-gradient(230deg, var(--user-gradient));
    }
    26.60% {
        --user-gradient-anim: linear-gradient(230.8deg, var(--user-gradient));
    }
    26.80% {
        --user-gradient-anim: linear-gradient(231.5deg, var(--user-gradient));
    }
    27.00% {
        --user-gradient-anim: linear-gradient(232.2deg, var(--user-gradient));
    }
    27.20% {
        --user-gradient-anim: linear-gradient(232.9deg, var(--user-gradient));
    }
    27.40% {
        --user-gradient-anim: linear-gradient(233.6deg, var(--user-gradient));
    }
    27.60% {
        --user-gradient-anim: linear-gradient(234.4deg, var(--user-gradient));
    }
    27.80% {
        --user-gradient-anim: linear-gradient(235.1deg, var(--user-gradient));
    }
    28.00% {
        --user-gradient-anim: linear-gradient(235.8deg, var(--user-gradient));
    }
    28.20% {
        --user-gradient-anim: linear-gradient(236.5deg, var(--user-gradient));
    }
    28.40% {
        --user-gradient-anim: linear-gradient(237.2deg, var(--user-gradient));
    }
    28.60% {
        --user-gradient-anim: linear-gradient(238deg, var(--user-gradient));
    }
    28.80% {
        --user-gradient-anim: linear-gradient(238.7deg, var(--user-gradient));
    }
    29.00% {
        --user-gradient-anim: linear-gradient(239.4deg, var(--user-gradient));
    }
    29.20% {
        --user-gradient-anim: linear-gradient(240.1deg, var(--user-gradient));
    }
    29.40% {
        --user-gradient-anim: linear-gradient(240.8deg, var(--user-gradient));
    }
    29.60% {
        --user-gradient-anim: linear-gradient(241.6deg, var(--user-gradient));
    }
    29.80% {
        --user-gradient-anim: linear-gradient(242.3deg, var(--user-gradient));
    }
    30.00% {
        --user-gradient-anim: linear-gradient(243deg, var(--user-gradient));
    }
    30.20% {
        --user-gradient-anim: linear-gradient(243.7deg, var(--user-gradient));
    }
    30.40% {
        --user-gradient-anim: linear-gradient(244.4deg, var(--user-gradient));
    }
    30.60% {
        --user-gradient-anim: linear-gradient(245.2deg, var(--user-gradient));
    }
    30.80% {
        --user-gradient-anim: linear-gradient(245.9deg, var(--user-gradient));
    }
    31.00% {
        --user-gradient-anim: linear-gradient(246.6deg, var(--user-gradient));
    }
    31.20% {
        --user-gradient-anim: linear-gradient(247.3deg, var(--user-gradient));
    }
    31.40% {
        --user-gradient-anim: linear-gradient(248deg, var(--user-gradient));
    }
    31.60% {
        --user-gradient-anim: linear-gradient(248.8deg, var(--user-gradient));
    }
    31.80% {
        --user-gradient-anim: linear-gradient(249.5deg, var(--user-gradient));
    }
    32.00% {
        --user-gradient-anim: linear-gradient(250.2deg, var(--user-gradient));
    }
    32.20% {
        --user-gradient-anim: linear-gradient(250.9deg, var(--user-gradient));
    }
    32.40% {
        --user-gradient-anim: linear-gradient(251.6deg, var(--user-gradient));
    }
    32.60% {
        --user-gradient-anim: linear-gradient(252.4deg, var(--user-gradient));
    }
    32.80% {
        --user-gradient-anim: linear-gradient(253.1deg, var(--user-gradient));
    }
    33.00% {
        --user-gradient-anim: linear-gradient(253.8deg, var(--user-gradient));
    }
    33.20% {
        --user-gradient-anim: linear-gradient(254.5deg, var(--user-gradient));
    }
    33.40% {
        --user-gradient-anim: linear-gradient(255.2deg, var(--user-gradient));
    }
    33.60% {
        --user-gradient-anim: linear-gradient(256deg, var(--user-gradient));
    }
    33.80% {
        --user-gradient-anim: linear-gradient(256.7deg, var(--user-gradient));
    }
    34.00% {
        --user-gradient-anim: linear-gradient(257.4deg, var(--user-gradient));
    }
    34.20% {
        --user-gradient-anim: linear-gradient(258.1deg, var(--user-gradient));
    }
    34.40% {
        --user-gradient-anim: linear-gradient(258.8deg, var(--user-gradient));
    }
    34.60% {
        --user-gradient-anim: linear-gradient(259.6deg, var(--user-gradient));
    }
    34.80% {
        --user-gradient-anim: linear-gradient(260.3deg, var(--user-gradient));
    }
    35.00% {
        --user-gradient-anim: linear-gradient(261deg, var(--user-gradient));
    }
    35.20% {
        --user-gradient-anim: linear-gradient(261.7deg, var(--user-gradient));
    }
    35.40% {
        --user-gradient-anim: linear-gradient(262.4deg, var(--user-gradient));
    }
    35.60% {
        --user-gradient-anim: linear-gradient(263.2deg, var(--user-gradient));
    }
    35.80% {
        --user-gradient-anim: linear-gradient(263.9deg, var(--user-gradient));
    }
    36.00% {
        --user-gradient-anim: linear-gradient(264.6deg, var(--user-gradient));
    }
    36.20% {
        --user-gradient-anim: linear-gradient(265.3deg, var(--user-gradient));
    }
    36.40% {
        --user-gradient-anim: linear-gradient(266deg, var(--user-gradient));
    }
    36.60% {
        --user-gradient-anim: linear-gradient(266.8deg, var(--user-gradient));
    }
    36.80% {
        --user-gradient-anim: linear-gradient(267.5deg, var(--user-gradient));
    }
    37.00% {
        --user-gradient-anim: linear-gradient(268.2deg, var(--user-gradient));
    }
    37.20% {
        --user-gradient-anim: linear-gradient(268.9deg, var(--user-gradient));
    }
    37.40% {
        --user-gradient-anim: linear-gradient(269.6deg, var(--user-gradient));
    }
    37.60% {
        --user-gradient-anim: linear-gradient(270.4deg, var(--user-gradient));
    }
    37.80% {
        --user-gradient-anim: linear-gradient(271.1deg, var(--user-gradient));
    }
    38.00% {
        --user-gradient-anim: linear-gradient(271.8deg, var(--user-gradient));
    }
    38.20% {
        --user-gradient-anim: linear-gradient(272.5deg, var(--user-gradient));
    }
    38.40% {
        --user-gradient-anim: linear-gradient(273.2deg, var(--user-gradient));
    }
    38.60% {
        --user-gradient-anim: linear-gradient(274deg, var(--user-gradient));
    }
    38.80% {
        --user-gradient-anim: linear-gradient(274.7deg, var(--user-gradient));
    }
    39.00% {
        --user-gradient-anim: linear-gradient(275.4deg, var(--user-gradient));
    }
    39.20% {
        --user-gradient-anim: linear-gradient(276.1deg, var(--user-gradient));
    }
    39.40% {
        --user-gradient-anim: linear-gradient(276.8deg, var(--user-gradient));
    }
    39.60% {
        --user-gradient-anim: linear-gradient(277.6deg, var(--user-gradient));
    }
    39.80% {
        --user-gradient-anim: linear-gradient(278.3deg, var(--user-gradient));
    }
    40.00% {
        --user-gradient-anim: linear-gradient(279deg, var(--user-gradient));
    }
    40.20% {
        --user-gradient-anim: linear-gradient(279.7deg, var(--user-gradient));
    }
    40.40% {
        --user-gradient-anim: linear-gradient(280.4deg, var(--user-gradient));
    }
    40.60% {
        --user-gradient-anim: linear-gradient(281.2deg, var(--user-gradient));
    }
    40.80% {
        --user-gradient-anim: linear-gradient(281.9deg, var(--user-gradient));
    }
    41.00% {
        --user-gradient-anim: linear-gradient(282.6deg, var(--user-gradient));
    }
    41.20% {
        --user-gradient-anim: linear-gradient(283.3deg, var(--user-gradient));
    }
    41.40% {
        --user-gradient-anim: linear-gradient(284deg, var(--user-gradient));
    }
    41.60% {
        --user-gradient-anim: linear-gradient(284.8deg, var(--user-gradient));
    }
    41.80% {
        --user-gradient-anim: linear-gradient(285.5deg, var(--user-gradient));
    }
    42.00% {
        --user-gradient-anim: linear-gradient(286.2deg, var(--user-gradient));
    }
    42.20% {
        --user-gradient-anim: linear-gradient(286.9deg, var(--user-gradient));
    }
    42.40% {
        --user-gradient-anim: linear-gradient(287.6deg, var(--user-gradient));
    }
    42.60% {
        --user-gradient-anim: linear-gradient(288.4deg, var(--user-gradient));
    }
    42.80% {
        --user-gradient-anim: linear-gradient(289.1deg, var(--user-gradient));
    }
    43.00% {
        --user-gradient-anim: linear-gradient(289.8deg, var(--user-gradient));
    }
    43.20% {
        --user-gradient-anim: linear-gradient(290.5deg, var(--user-gradient));
    }
    43.40% {
        --user-gradient-anim: linear-gradient(291.2deg, var(--user-gradient));
    }
    43.60% {
        --user-gradient-anim: linear-gradient(292deg, var(--user-gradient));
    }
    43.80% {
        --user-gradient-anim: linear-gradient(292.7deg, var(--user-gradient));
    }
    44.00% {
        --user-gradient-anim: linear-gradient(293.4deg, var(--user-gradient));
    }
    44.20% {
        --user-gradient-anim: linear-gradient(294.1deg, var(--user-gradient));
    }
    44.40% {
        --user-gradient-anim: linear-gradient(294.8deg, var(--user-gradient));
    }
    44.60% {
        --user-gradient-anim: linear-gradient(295.6deg, var(--user-gradient));
    }
    44.80% {
        --user-gradient-anim: linear-gradient(296.3deg, var(--user-gradient));
    }
    45.00% {
        --user-gradient-anim: linear-gradient(297deg, var(--user-gradient));
    }
    45.20% {
        --user-gradient-anim: linear-gradient(297.7deg, var(--user-gradient));
    }
    45.40% {
        --user-gradient-anim: linear-gradient(298.4deg, var(--user-gradient));
    }
    45.60% {
        --user-gradient-anim: linear-gradient(299.2deg, var(--user-gradient));
    }
    45.80% {
        --user-gradient-anim: linear-gradient(299.9deg, var(--user-gradient));
    }
    46.00% {
        --user-gradient-anim: linear-gradient(300.6deg, var(--user-gradient));
    }
    46.20% {
        --user-gradient-anim: linear-gradient(301.3deg, var(--user-gradient));
    }
    46.40% {
        --user-gradient-anim: linear-gradient(302deg, var(--user-gradient));
    }
    46.60% {
        --user-gradient-anim: linear-gradient(302.8deg, var(--user-gradient));
    }
    46.80% {
        --user-gradient-anim: linear-gradient(303.5deg, var(--user-gradient));
    }
    47.00% {
        --user-gradient-anim: linear-gradient(304.2deg, var(--user-gradient));
    }
    47.20% {
        --user-gradient-anim: linear-gradient(304.9deg, var(--user-gradient));
    }
    47.40% {
        --user-gradient-anim: linear-gradient(305.6deg, var(--user-gradient));
    }
    47.60% {
        --user-gradient-anim: linear-gradient(306.4deg, var(--user-gradient));
    }
    47.80% {
        --user-gradient-anim: linear-gradient(307.1deg, var(--user-gradient));
    }
    48.00% {
        --user-gradient-anim: linear-gradient(307.8deg, var(--user-gradient));
    }
    48.20% {
        --user-gradient-anim: linear-gradient(308.5deg, var(--user-gradient));
    }
    48.40% {
        --user-gradient-anim: linear-gradient(309.2deg, var(--user-gradient));
    }
    48.60% {
        --user-gradient-anim: linear-gradient(310deg, var(--user-gradient));
    }
    48.80% {
        --user-gradient-anim: linear-gradient(310.7deg, var(--user-gradient));
    }
    49.00% {
        --user-gradient-anim: linear-gradient(311.4deg, var(--user-gradient));
    }
    49.20% {
        --user-gradient-anim: linear-gradient(312.1deg, var(--user-gradient));
    }
    49.40% {
        --user-gradient-anim: linear-gradient(312.8deg, var(--user-gradient));
    }
    49.60% {
        --user-gradient-anim: linear-gradient(313.6deg, var(--user-gradient));
    }
    49.80% {
        --user-gradient-anim: linear-gradient(314.3deg, var(--user-gradient));
    }
    50.00% {
        --user-gradient-anim: linear-gradient(315deg, var(--user-gradient));
    }
    50.20% {
        --user-gradient-anim: linear-gradient(315.7deg, var(--user-gradient));
    }
    50.40% {
        --user-gradient-anim: linear-gradient(316.4deg, var(--user-gradient));
    }
    50.60% {
        --user-gradient-anim: linear-gradient(317.2deg, var(--user-gradient));
    }
    50.80% {
        --user-gradient-anim: linear-gradient(317.9deg, var(--user-gradient));
    }
    51.00% {
        --user-gradient-anim: linear-gradient(318.6deg, var(--user-gradient));
    }
    51.20% {
        --user-gradient-anim: linear-gradient(319.3deg, var(--user-gradient));
    }
    51.40% {
        --user-gradient-anim: linear-gradient(320deg, var(--user-gradient));
    }
    51.60% {
        --user-gradient-anim: linear-gradient(320.8deg, var(--user-gradient));
    }
    51.80% {
        --user-gradient-anim: linear-gradient(321.5deg, var(--user-gradient));
    }
    52.00% {
        --user-gradient-anim: linear-gradient(322.2deg, var(--user-gradient));
    }
    52.20% {
        --user-gradient-anim: linear-gradient(322.9deg, var(--user-gradient));
    }
    52.40% {
        --user-gradient-anim: linear-gradient(323.6deg, var(--user-gradient));
    }
    52.60% {
        --user-gradient-anim: linear-gradient(324.4deg, var(--user-gradient));
    }
    52.80% {
        --user-gradient-anim: linear-gradient(325.1deg, var(--user-gradient));
    }
    53.00% {
        --user-gradient-anim: linear-gradient(325.8deg, var(--user-gradient));
    }
    53.20% {
        --user-gradient-anim: linear-gradient(326.5deg, var(--user-gradient));
    }
    53.40% {
        --user-gradient-anim: linear-gradient(327.2deg, var(--user-gradient));
    }
    53.60% {
        --user-gradient-anim: linear-gradient(328deg, var(--user-gradient));
    }
    53.80% {
        --user-gradient-anim: linear-gradient(328.7deg, var(--user-gradient));
    }
    54.00% {
        --user-gradient-anim: linear-gradient(329.4deg, var(--user-gradient));
    }
    54.20% {
        --user-gradient-anim: linear-gradient(330.1deg, var(--user-gradient));
    }
    54.40% {
        --user-gradient-anim: linear-gradient(330.8deg, var(--user-gradient));
    }
    54.60% {
        --user-gradient-anim: linear-gradient(331.6deg, var(--user-gradient));
    }
    54.80% {
        --user-gradient-anim: linear-gradient(332.3deg, var(--user-gradient));
    }
    55.00% {
        --user-gradient-anim: linear-gradient(333deg, var(--user-gradient));
    }
    55.20% {
        --user-gradient-anim: linear-gradient(333.7deg, var(--user-gradient));
    }
    55.40% {
        --user-gradient-anim: linear-gradient(334.4deg, var(--user-gradient));
    }
    55.60% {
        --user-gradient-anim: linear-gradient(335.2deg, var(--user-gradient));
    }
    55.80% {
        --user-gradient-anim: linear-gradient(335.9deg, var(--user-gradient));
    }
    56.00% {
        --user-gradient-anim: linear-gradient(336.6deg, var(--user-gradient));
    }
    56.20% {
        --user-gradient-anim: linear-gradient(337.3deg, var(--user-gradient));
    }
    56.40% {
        --user-gradient-anim: linear-gradient(338deg, var(--user-gradient));
    }
    56.60% {
        --user-gradient-anim: linear-gradient(338.8deg, var(--user-gradient));
    }
    56.80% {
        --user-gradient-anim: linear-gradient(339.5deg, var(--user-gradient));
    }
    57.00% {
        --user-gradient-anim: linear-gradient(340.2deg, var(--user-gradient));
    }
    57.20% {
        --user-gradient-anim: linear-gradient(340.9deg, var(--user-gradient));
    }
    57.40% {
        --user-gradient-anim: linear-gradient(341.6deg, var(--user-gradient));
    }
    57.60% {
        --user-gradient-anim: linear-gradient(342.4deg, var(--user-gradient));
    }
    57.80% {
        --user-gradient-anim: linear-gradient(343.1deg, var(--user-gradient));
    }
    58.00% {
        --user-gradient-anim: linear-gradient(343.8deg, var(--user-gradient));
    }
    58.20% {
        --user-gradient-anim: linear-gradient(344.5deg, var(--user-gradient));
    }
    58.40% {
        --user-gradient-anim: linear-gradient(345.2deg, var(--user-gradient));
    }
    58.60% {
        --user-gradient-anim: linear-gradient(346deg, var(--user-gradient));
    }
    58.80% {
        --user-gradient-anim: linear-gradient(346.7deg, var(--user-gradient));
    }
    59.00% {
        --user-gradient-anim: linear-gradient(347.4deg, var(--user-gradient));
    }
    59.20% {
        --user-gradient-anim: linear-gradient(348.1deg, var(--user-gradient));
    }
    59.40% {
        --user-gradient-anim: linear-gradient(348.8deg, var(--user-gradient));
    }
    59.60% {
        --user-gradient-anim: linear-gradient(349.6deg, var(--user-gradient));
    }
    59.80% {
        --user-gradient-anim: linear-gradient(350.3deg, var(--user-gradient));
    }
    60.00% {
        --user-gradient-anim: linear-gradient(351deg, var(--user-gradient));
    }
    60.20% {
        --user-gradient-anim: linear-gradient(351.7deg, var(--user-gradient));
    }
    60.40% {
        --user-gradient-anim: linear-gradient(352.4deg, var(--user-gradient));
    }
    60.60% {
        --user-gradient-anim: linear-gradient(353.2deg, var(--user-gradient));
    }
    60.80% {
        --user-gradient-anim: linear-gradient(353.9deg, var(--user-gradient));
    }
    61.00% {
        --user-gradient-anim: linear-gradient(354.6deg, var(--user-gradient));
    }
    61.20% {
        --user-gradient-anim: linear-gradient(355.3deg, var(--user-gradient));
    }
    61.40% {
        --user-gradient-anim: linear-gradient(356deg, var(--user-gradient));
    }
    61.60% {
        --user-gradient-anim: linear-gradient(356.8deg, var(--user-gradient));
    }
    61.80% {
        --user-gradient-anim: linear-gradient(357.5deg, var(--user-gradient));
    }
    62.00% {
        --user-gradient-anim: linear-gradient(358.2deg, var(--user-gradient));
    }
    62.20% {
        --user-gradient-anim: linear-gradient(358.9deg, var(--user-gradient));
    }
    62.40% {
        --user-gradient-anim: linear-gradient(359.6deg, var(--user-gradient));
    }
    62.60% {
        --user-gradient-anim: linear-gradient(360.4deg, var(--user-gradient));
    }
    62.80% {
        --user-gradient-anim: linear-gradient(361.1deg, var(--user-gradient));
    }
    63.00% {
        --user-gradient-anim: linear-gradient(361.8deg, var(--user-gradient));
    }
    63.20% {
        --user-gradient-anim: linear-gradient(362.5deg, var(--user-gradient));
    }
    63.40% {
        --user-gradient-anim: linear-gradient(363.2deg, var(--user-gradient));
    }
    63.60% {
        --user-gradient-anim: linear-gradient(364deg, var(--user-gradient));
    }
    63.80% {
        --user-gradient-anim: linear-gradient(364.7deg, var(--user-gradient));
    }
    64.00% {
        --user-gradient-anim: linear-gradient(365.4deg, var(--user-gradient));
    }
    64.20% {
        --user-gradient-anim: linear-gradient(366.1deg, var(--user-gradient));
    }
    64.40% {
        --user-gradient-anim: linear-gradient(366.8deg, var(--user-gradient));
    }
    64.60% {
        --user-gradient-anim: linear-gradient(367.6deg, var(--user-gradient));
    }
    64.80% {
        --user-gradient-anim: linear-gradient(368.3deg, var(--user-gradient));
    }
    65.00% {
        --user-gradient-anim: linear-gradient(369deg, var(--user-gradient));
    }
    65.20% {
        --user-gradient-anim: linear-gradient(369.7deg, var(--user-gradient));
    }
    65.40% {
        --user-gradient-anim: linear-gradient(370.4deg, var(--user-gradient));
    }
    65.60% {
        --user-gradient-anim: linear-gradient(371.2deg, var(--user-gradient));
    }
    65.80% {
        --user-gradient-anim: linear-gradient(371.9deg, var(--user-gradient));
    }
    66.00% {
        --user-gradient-anim: linear-gradient(372.6deg, var(--user-gradient));
    }
    66.20% {
        --user-gradient-anim: linear-gradient(373.3deg, var(--user-gradient));
    }
    66.40% {
        --user-gradient-anim: linear-gradient(374deg, var(--user-gradient));
    }
    66.60% {
        --user-gradient-anim: linear-gradient(374.8deg, var(--user-gradient));
    }
    66.80% {
        --user-gradient-anim: linear-gradient(375.5deg, var(--user-gradient));
    }
    67.00% {
        --user-gradient-anim: linear-gradient(376.2deg, var(--user-gradient));
    }
    67.20% {
        --user-gradient-anim: linear-gradient(376.9deg, var(--user-gradient));
    }
    67.40% {
        --user-gradient-anim: linear-gradient(377.6deg, var(--user-gradient));
    }
    67.60% {
        --user-gradient-anim: linear-gradient(378.4deg, var(--user-gradient));
    }
    67.80% {
        --user-gradient-anim: linear-gradient(379.1deg, var(--user-gradient));
    }
    68.00% {
        --user-gradient-anim: linear-gradient(379.8deg, var(--user-gradient));
    }
    68.20% {
        --user-gradient-anim: linear-gradient(380.5deg, var(--user-gradient));
    }
    68.40% {
        --user-gradient-anim: linear-gradient(381.2deg, var(--user-gradient));
    }
    68.60% {
        --user-gradient-anim: linear-gradient(382deg, var(--user-gradient));
    }
    68.80% {
        --user-gradient-anim: linear-gradient(382.7deg, var(--user-gradient));
    }
    69.00% {
        --user-gradient-anim: linear-gradient(383.4deg, var(--user-gradient));
    }
    69.20% {
        --user-gradient-anim: linear-gradient(384.1deg, var(--user-gradient));
    }
    69.40% {
        --user-gradient-anim: linear-gradient(384.8deg, var(--user-gradient));
    }
    69.60% {
        --user-gradient-anim: linear-gradient(385.6deg, var(--user-gradient));
    }
    69.80% {
        --user-gradient-anim: linear-gradient(386.3deg, var(--user-gradient));
    }
    70.00% {
        --user-gradient-anim: linear-gradient(387deg, var(--user-gradient));
    }
    70.20% {
        --user-gradient-anim: linear-gradient(387.7deg, var(--user-gradient));
    }
    70.40% {
        --user-gradient-anim: linear-gradient(388.4deg, var(--user-gradient));
    }
    70.60% {
        --user-gradient-anim: linear-gradient(389.2deg, var(--user-gradient));
    }
    70.80% {
        --user-gradient-anim: linear-gradient(389.9deg, var(--user-gradient));
    }
    71.00% {
        --user-gradient-anim: linear-gradient(390.6deg, var(--user-gradient));
    }
    71.20% {
        --user-gradient-anim: linear-gradient(391.3deg, var(--user-gradient));
    }
    71.40% {
        --user-gradient-anim: linear-gradient(392deg, var(--user-gradient));
    }
    71.60% {
        --user-gradient-anim: linear-gradient(392.8deg, var(--user-gradient));
    }
    71.80% {
        --user-gradient-anim: linear-gradient(393.5deg, var(--user-gradient));
    }
    72.00% {
        --user-gradient-anim: linear-gradient(394.2deg, var(--user-gradient));
    }
    72.20% {
        --user-gradient-anim: linear-gradient(394.9deg, var(--user-gradient));
    }
    72.40% {
        --user-gradient-anim: linear-gradient(395.6deg, var(--user-gradient));
    }
    72.60% {
        --user-gradient-anim: linear-gradient(396.4deg, var(--user-gradient));
    }
    72.80% {
        --user-gradient-anim: linear-gradient(397.1deg, var(--user-gradient));
    }
    73.00% {
        --user-gradient-anim: linear-gradient(397.8deg, var(--user-gradient));
    }
    73.20% {
        --user-gradient-anim: linear-gradient(398.5deg, var(--user-gradient));
    }
    73.40% {
        --user-gradient-anim: linear-gradient(399.2deg, var(--user-gradient));
    }
    73.60% {
        --user-gradient-anim: linear-gradient(400deg, var(--user-gradient));
    }
    73.80% {
        --user-gradient-anim: linear-gradient(400.7deg, var(--user-gradient));
    }
    74.00% {
        --user-gradient-anim: linear-gradient(401.4deg, var(--user-gradient));
    }
    74.20% {
        --user-gradient-anim: linear-gradient(402.1deg, var(--user-gradient));
    }
    74.40% {
        --user-gradient-anim: linear-gradient(402.8deg, var(--user-gradient));
    }
    74.60% {
        --user-gradient-anim: linear-gradient(403.6deg, var(--user-gradient));
    }
    74.80% {
        --user-gradient-anim: linear-gradient(404.3deg, var(--user-gradient));
    }
    75.00% {
        --user-gradient-anim: linear-gradient(405deg, var(--user-gradient));
    }
    75.20% {
        --user-gradient-anim: linear-gradient(405.7deg, var(--user-gradient));
    }
    75.40% {
        --user-gradient-anim: linear-gradient(406.4deg, var(--user-gradient));
    }
    75.60% {
        --user-gradient-anim: linear-gradient(407.2deg, var(--user-gradient));
    }
    75.80% {
        --user-gradient-anim: linear-gradient(407.9deg, var(--user-gradient));
    }
    76.00% {
        --user-gradient-anim: linear-gradient(408.6deg, var(--user-gradient));
    }
    76.20% {
        --user-gradient-anim: linear-gradient(409.3deg, var(--user-gradient));
    }
    76.40% {
        --user-gradient-anim: linear-gradient(410deg, var(--user-gradient));
    }
    76.60% {
        --user-gradient-anim: linear-gradient(410.8deg, var(--user-gradient));
    }
    76.80% {
        --user-gradient-anim: linear-gradient(411.5deg, var(--user-gradient));
    }
    77.00% {
        --user-gradient-anim: linear-gradient(412.2deg, var(--user-gradient));
    }
    77.20% {
        --user-gradient-anim: linear-gradient(412.9deg, var(--user-gradient));
    }
    77.40% {
        --user-gradient-anim: linear-gradient(413.6deg, var(--user-gradient));
    }
    77.60% {
        --user-gradient-anim: linear-gradient(414.4deg, var(--user-gradient));
    }
    77.80% {
        --user-gradient-anim: linear-gradient(415.1deg, var(--user-gradient));
    }
    78.00% {
        --user-gradient-anim: linear-gradient(415.8deg, var(--user-gradient));
    }
    78.20% {
        --user-gradient-anim: linear-gradient(416.5deg, var(--user-gradient));
    }
    78.40% {
        --user-gradient-anim: linear-gradient(417.2deg, var(--user-gradient));
    }
    78.60% {
        --user-gradient-anim: linear-gradient(418deg, var(--user-gradient));
    }
    78.80% {
        --user-gradient-anim: linear-gradient(418.7deg, var(--user-gradient));
    }
    79.00% {
        --user-gradient-anim: linear-gradient(419.4deg, var(--user-gradient));
    }
    79.20% {
        --user-gradient-anim: linear-gradient(420.1deg, var(--user-gradient));
    }
    79.40% {
        --user-gradient-anim: linear-gradient(420.8deg, var(--user-gradient));
    }
    79.60% {
        --user-gradient-anim: linear-gradient(421.6deg, var(--user-gradient));
    }
    79.80% {
        --user-gradient-anim: linear-gradient(422.3deg, var(--user-gradient));
    }
    80.00% {
        --user-gradient-anim: linear-gradient(423deg, var(--user-gradient));
    }
    80.20% {
        --user-gradient-anim: linear-gradient(423.7deg, var(--user-gradient));
    }
    80.40% {
        --user-gradient-anim: linear-gradient(424.4deg, var(--user-gradient));
    }
    80.60% {
        --user-gradient-anim: linear-gradient(425.2deg, var(--user-gradient));
    }
    80.80% {
        --user-gradient-anim: linear-gradient(425.9deg, var(--user-gradient));
    }
    81.00% {
        --user-gradient-anim: linear-gradient(426.6deg, var(--user-gradient));
    }
    81.20% {
        --user-gradient-anim: linear-gradient(427.3deg, var(--user-gradient));
    }
    81.40% {
        --user-gradient-anim: linear-gradient(428deg, var(--user-gradient));
    }
    81.60% {
        --user-gradient-anim: linear-gradient(428.8deg, var(--user-gradient));
    }
    81.80% {
        --user-gradient-anim: linear-gradient(429.5deg, var(--user-gradient));
    }
    82.00% {
        --user-gradient-anim: linear-gradient(430.2deg, var(--user-gradient));
    }
    82.20% {
        --user-gradient-anim: linear-gradient(430.9deg, var(--user-gradient));
    }
    82.40% {
        --user-gradient-anim: linear-gradient(431.6deg, var(--user-gradient));
    }
    82.60% {
        --user-gradient-anim: linear-gradient(432.4deg, var(--user-gradient));
    }
    82.80% {
        --user-gradient-anim: linear-gradient(433.1deg, var(--user-gradient));
    }
    83.00% {
        --user-gradient-anim: linear-gradient(433.8deg, var(--user-gradient));
    }
    83.20% {
        --user-gradient-anim: linear-gradient(434.5deg, var(--user-gradient));
    }
    83.40% {
        --user-gradient-anim: linear-gradient(435.2deg, var(--user-gradient));
    }
    83.60% {
        --user-gradient-anim: linear-gradient(436deg, var(--user-gradient));
    }
    83.80% {
        --user-gradient-anim: linear-gradient(436.7deg, var(--user-gradient));
    }
    84.00% {
        --user-gradient-anim: linear-gradient(437.4deg, var(--user-gradient));
    }
    84.20% {
        --user-gradient-anim: linear-gradient(438.1deg, var(--user-gradient));
    }
    84.40% {
        --user-gradient-anim: linear-gradient(438.8deg, var(--user-gradient));
    }
    84.60% {
        --user-gradient-anim: linear-gradient(439.6deg, var(--user-gradient));
    }
    84.80% {
        --user-gradient-anim: linear-gradient(440.3deg, var(--user-gradient));
    }
    85.00% {
        --user-gradient-anim: linear-gradient(441deg, var(--user-gradient));
    }
    85.20% {
        --user-gradient-anim: linear-gradient(441.7deg, var(--user-gradient));
    }
    85.40% {
        --user-gradient-anim: linear-gradient(442.4deg, var(--user-gradient));
    }
    85.60% {
        --user-gradient-anim: linear-gradient(443.2deg, var(--user-gradient));
    }
    85.80% {
        --user-gradient-anim: linear-gradient(443.9deg, var(--user-gradient));
    }
    86.00% {
        --user-gradient-anim: linear-gradient(444.6deg, var(--user-gradient));
    }
    86.20% {
        --user-gradient-anim: linear-gradient(445.3deg, var(--user-gradient));
    }
    86.40% {
        --user-gradient-anim: linear-gradient(446deg, var(--user-gradient));
    }
    86.60% {
        --user-gradient-anim: linear-gradient(446.8deg, var(--user-gradient));
    }
    86.80% {
        --user-gradient-anim: linear-gradient(447.5deg, var(--user-gradient));
    }
    87.00% {
        --user-gradient-anim: linear-gradient(448.2deg, var(--user-gradient));
    }
    87.20% {
        --user-gradient-anim: linear-gradient(448.9deg, var(--user-gradient));
    }
    87.40% {
        --user-gradient-anim: linear-gradient(449.6deg, var(--user-gradient));
    }
    87.60% {
        --user-gradient-anim: linear-gradient(450.4deg, var(--user-gradient));
    }
    87.80% {
        --user-gradient-anim: linear-gradient(451.1deg, var(--user-gradient));
    }
    88.00% {
        --user-gradient-anim: linear-gradient(451.8deg, var(--user-gradient));
    }
    88.20% {
        --user-gradient-anim: linear-gradient(452.5deg, var(--user-gradient));
    }
    88.40% {
        --user-gradient-anim: linear-gradient(453.2deg, var(--user-gradient));
    }
    88.60% {
        --user-gradient-anim: linear-gradient(454deg, var(--user-gradient));
    }
    88.80% {
        --user-gradient-anim: linear-gradient(454.7deg, var(--user-gradient));
    }
    89.00% {
        --user-gradient-anim: linear-gradient(455.4deg, var(--user-gradient));
    }
    89.20% {
        --user-gradient-anim: linear-gradient(456.1deg, var(--user-gradient));
    }
    89.40% {
        --user-gradient-anim: linear-gradient(456.8deg, var(--user-gradient));
    }
    89.60% {
        --user-gradient-anim: linear-gradient(457.6deg, var(--user-gradient));
    }
    89.80% {
        --user-gradient-anim: linear-gradient(458.3deg, var(--user-gradient));
    }
    90.00% {
        --user-gradient-anim: linear-gradient(459deg, var(--user-gradient));
    }
    90.20% {
        --user-gradient-anim: linear-gradient(459.7deg, var(--user-gradient));
    }
    90.40% {
        --user-gradient-anim: linear-gradient(460.4deg, var(--user-gradient));
    }
    90.60% {
        --user-gradient-anim: linear-gradient(461.2deg, var(--user-gradient));
    }
    90.80% {
        --user-gradient-anim: linear-gradient(461.9deg, var(--user-gradient));
    }
    91.00% {
        --user-gradient-anim: linear-gradient(462.6deg, var(--user-gradient));
    }
    91.20% {
        --user-gradient-anim: linear-gradient(463.3deg, var(--user-gradient));
    }
    91.40% {
        --user-gradient-anim: linear-gradient(464deg, var(--user-gradient));
    }
    91.60% {
        --user-gradient-anim: linear-gradient(464.8deg, var(--user-gradient));
    }
    91.80% {
        --user-gradient-anim: linear-gradient(465.5deg, var(--user-gradient));
    }
    92.00% {
        --user-gradient-anim: linear-gradient(466.2deg, var(--user-gradient));
    }
    92.20% {
        --user-gradient-anim: linear-gradient(466.9deg, var(--user-gradient));
    }
    92.40% {
        --user-gradient-anim: linear-gradient(467.6deg, var(--user-gradient));
    }
    92.60% {
        --user-gradient-anim: linear-gradient(468.4deg, var(--user-gradient));
    }
    92.80% {
        --user-gradient-anim: linear-gradient(469.1deg, var(--user-gradient));
    }
    93.00% {
        --user-gradient-anim: linear-gradient(469.8deg, var(--user-gradient));
    }
    93.20% {
        --user-gradient-anim: linear-gradient(470.5deg, var(--user-gradient));
    }
    93.40% {
        --user-gradient-anim: linear-gradient(471.2deg, var(--user-gradient));
    }
    93.60% {
        --user-gradient-anim: linear-gradient(472deg, var(--user-gradient));
    }
    93.80% {
        --user-gradient-anim: linear-gradient(472.7deg, var(--user-gradient));
    }
    94.00% {
        --user-gradient-anim: linear-gradient(473.4deg, var(--user-gradient));
    }
    94.20% {
        --user-gradient-anim: linear-gradient(474.1deg, var(--user-gradient));
    }
    94.40% {
        --user-gradient-anim: linear-gradient(474.8deg, var(--user-gradient));
    }
    94.60% {
        --user-gradient-anim: linear-gradient(475.6deg, var(--user-gradient));
    }
    94.80% {
        --user-gradient-anim: linear-gradient(476.3deg, var(--user-gradient));
    }
    95.00% {
        --user-gradient-anim: linear-gradient(477deg, var(--user-gradient));
    }
    95.20% {
        --user-gradient-anim: linear-gradient(477.7deg, var(--user-gradient));
    }
    95.40% {
        --user-gradient-anim: linear-gradient(478.4deg, var(--user-gradient));
    }
    95.60% {
        --user-gradient-anim: linear-gradient(479.2deg, var(--user-gradient));
    }
    95.80% {
        --user-gradient-anim: linear-gradient(479.9deg, var(--user-gradient));
    }
    96.00% {
        --user-gradient-anim: linear-gradient(480.6deg, var(--user-gradient));
    }
    96.20% {
        --user-gradient-anim: linear-gradient(481.3deg, var(--user-gradient));
    }
    96.40% {
        --user-gradient-anim: linear-gradient(482deg, var(--user-gradient));
    }
    96.60% {
        --user-gradient-anim: linear-gradient(482.8deg, var(--user-gradient));
    }
    96.80% {
        --user-gradient-anim: linear-gradient(483.5deg, var(--user-gradient));
    }
    97.00% {
        --user-gradient-anim: linear-gradient(484.2deg, var(--user-gradient));
    }
    97.20% {
        --user-gradient-anim: linear-gradient(484.9deg, var(--user-gradient));
    }
    97.40% {
        --user-gradient-anim: linear-gradient(485.6deg, var(--user-gradient));
    }
    97.60% {
        --user-gradient-anim: linear-gradient(486.4deg, var(--user-gradient));
    }
    97.80% {
        --user-gradient-anim: linear-gradient(487.1deg, var(--user-gradient));
    }
    98.00% {
        --user-gradient-anim: linear-gradient(487.8deg, var(--user-gradient));
    }
    98.20% {
        --user-gradient-anim: linear-gradient(488.5deg, var(--user-gradient));
    }
    98.40% {
        --user-gradient-anim: linear-gradient(489.2deg, var(--user-gradient));
    }
    98.60% {
        --user-gradient-anim: linear-gradient(490deg, var(--user-gradient));
    }
    98.80% {
        --user-gradient-anim: linear-gradient(490.7deg, var(--user-gradient));
    }
    99.00% {
        --user-gradient-anim: linear-gradient(491.4deg, var(--user-gradient));
    }
    99.20% {
        --user-gradient-anim: linear-gradient(492.1deg, var(--user-gradient));
    }
    99.40% {
        --user-gradient-anim: linear-gradient(492.8deg, var(--user-gradient));
    }
    99.60% {
        --user-gradient-anim: linear-gradient(493.6deg, var(--user-gradient));
    }
    99.80% {
        --user-gradient-anim: linear-gradient(494.3deg, var(--user-gradient));
    }
    100.00% {
        --user-gradient-anim: linear-gradient(495deg, var(--user-gradient));
    }
}
