node_modules/
.vscode/
*.code-workspace
jsconfig.json
*_
*_.*

config/
logs/*
server/resources/data.json
server/downloads/storage/
server/games/

# DEV
server/cs2/
server/filetransfer_rtc/
TEMP_*
TODO
*test.*
