div#files-content {
    margin-top: 5vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-wrap: wrap;
    gap: 2vw;
    justify-content: start;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

div.file {
    width: 22vw;
}

.file > a > button {
    display: block;
    max-width: 15vw;
    margin-left: auto;
    margin-right: auto;
}
