#image-round-border-input {
    display: none;
}

#image-round-border {
    position: relative;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

#image-round-border label {
    cursor: pointer;
}

#image-round-border-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    /* border: 4px solid #222245; */
    border: 4px solid #56568f;
    transition: border-radius 0.2s, border-color var(--theme-time) ease, background-color 0.2s;
}

body[theme="dark"] #image-round-border-box {
}

#image-round-border:hover #image-round-border-box {
    border-radius: 30%;
}

input:checked + label #image-round-border-box {
    border-radius: 50%;
    /* background-color: var(--background-color-dark); */
    background-color: #222245;
}

body[theme="dark"] input:checked + label #image-round-border-box {
    /* background-color: var(--background-color-light); */
}
