:root {
    --color-light: #fff;
    --color-dark: #333;
    --text-color-light: var(--color-dark);
    --text-color-dark: var(--color-light);
    --background-color-light: var(--color-light);
    --background-color-dark: var(--color-dark);
    --element-color-light: #eee;
    --element-color-dark: #444;
    --hover-color-light: #aaaaaa88;
    --hover-color-dark: #00000088;
    --transition-time: 0.4s;
    --hover-time: 0.2s;
}

body {
    background-color: var(--background-color-light);
    transition: background-color var(--transition-time) ease;
}

body:has(#theme-input:checked) {
    background-color: var(--background-color-dark);
}

/* Images Preload */

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../images/icons/icon-128px.png) url(../images/icons/gamepad-icon-light-128px.png) url(../images/icons/gamepad-icon-dark-128px.png)
        url(../images/icons/sun-yellow.png) url(../images/icons/moon-cyan.png) url(../images/icons/home-black.png);
}

/* ---------------------------------------------------- */

#upper-panel {
    display: flex;
    flex-direction: column;
    gap: 10px;
    height: var(--upper-panel-height);
    box-shadow: 5px 5px 30px -15px #000;
    padding: 20px 30px;
    border-radius: 10px;
}

.upper-panel-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.upper-panel-row:has(nav) {
    justify-content: center;
}

#panel-first-row {
    justify-content: space-between;
}

#upper-panel {
    margin-bottom: 10px;
}

#upper-panel-left {
    --icon-size: 13vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vw;
}

.site-icon {
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--icon-size);
    height: var(--icon-size);
    max-width: 64px;
    max-height: 64px;
    transition: filter var(--hover-time) ease, background-image var(--transition-time) ease;
}

.site-icon:hover {
    filter: drop-shadow(2px 2px 5px var(--hover-color-light)) brightness(1.2);
}

body:has(#theme-input:checked) .site-icon:hover {
    filter: drop-shadow(2px 2px 5px var(--hover-color-dark)) brightness(1.2);
}

#main-icon {
    background-image: url(../images/icons/icon-128px.png);
}

#lang-icon {
    background-image: url(../images/icons/trad-logo-128px.png);
}

#manager-icon {
    background-image: url(../images/icons/gamepad-icon-light-128px.png);
}

body:has(#theme-input:checked) #manager-icon {
    background-image: url(../images/icons/gamepad-icon-dark-128px.png);
}

#menu {
    --element-size: 16px;
    --space: 6px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-element {
    display: flex;
    align-items: center;
    height: 20px;
    padding: 0 var(--space);
}

.menu-element:not(:last-child) {
    border-right: 2px solid var(--text-color-light);
    transition: border-right var(--transition-time) ease;
}

body:has(#theme-input:checked) .menu-element:not(:last-child) {
    border-right: 2px solid var(--text-color-dark);
}

.menu-element a {
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
    border-radius: 5px;
    font-size: var(--element-size);
    display: block;
    color: black;
    background-color: var(--background-color-light);
    transition: background-color var(--transition-time) ease, filter var(--hover-time) ease;
}

body:has(#theme-input:checked) .menu-element a {
    background-color: var(--background-color-dark);
}

.menu-element a div {
    color: var(--text-color-light);
    transition: color var(--transition-time) ease;
}

body[theme="dark"] .menu-element a div {
    color: var(--text-color-dark);
}

.menu-element a:hover {
    filter: drop-shadow(2px 2px 3px var(--hover-color-light));
}

body:has(#theme-input:checked) .menu-element a:hover {
    filter: drop-shadow(2px 2px 3px var(--hover-color-dark));
}

#home-icon {
    background-image: url(../images/icons/home-black.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: var(--element-size);
    height: var(--element-size);
    transition: filter var(--transition-time) ease;
}

body[theme="dark"] #home-icon {
    /* background-image: url(../images/icons/home-white.png); */
    filter: invert(1);
}

#upper-panel-right {
    display: flex;
    align-items: center;
    gap: 4vw;
}

#user-logout {
    display: flex;
    align-items: center;
}

#user-logout button {
    width: 7vw;
    height: 7vw;
    max-width: 32px;
    max-height: 32px;
    border: 0;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    background-image: url(../images/icons/switch-red-128px.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    transition: filter var(--hover-time) ease;
}

#user-logout button:hover {
    filter: drop-shadow(2px 2px 3px var(--hover-color-light));
}

body:has(#theme-input:checked) #user-logout button:hover {
    filter: drop-shadow(2px 2px 3px var(--hover-color-dark));
}

/* Theme checkbox */

#theme-input {
    display: none;
}
#theme-input,
#theme-input:after,
#theme-input:before,
#theme-input *,
#theme-input *:after,
#theme-input *:before,
#theme-input + #theme-input-btn {
    box-sizing: border-box;
}
#theme-input::-moz-selection,
#theme-input:after::-moz-selection,
#theme-input:before::-moz-selection,
#theme-input *::-moz-selection,
#theme-input *:after::-moz-selection,
#theme-input *:before::-moz-selection,
#theme-input + #theme-input-button::-moz-selection {
    background: none;
}
#theme-input::selection,
#theme-input:after::selection,
#theme-input:before::selection,
#theme-input *::selection,
#theme-input *:after::selection,
#theme-input *:before::selection,
#theme-input + #theme-input-button::selection {
    background: none;
}
#theme-input + #theme-input-button {
    --theme-input-width: 70px;
    --theme-input-height: calc(var(--theme-input-width) / 2);
    outline: 0;
    display: block;
    width: var(--theme-input-width);
    height: var(--theme-input-height);
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#theme-input + #theme-input-button:after,
#theme-input + #theme-input-button:before {
    position: relative;
    display: block;
    content: "";
    width: 50%;
    height: 100%;
}
#theme-input + #theme-input-button:after {
    left: 0;
}
#theme-input + #theme-input-button:before {
    display: none;
}
#theme-input:checked + #theme-input-button:after {
    left: 50%;
}

#theme-input + #theme-input-button {
    border-radius: 2em;
    padding: 2px;
    background-color: var(--element-color-light);
    transition: background-color var(--transition-time) ease, filter var(--hover-time) ease;
}

#theme-input + #theme-input-button:hover,
#change-lang .input:hover {
    filter: brightness(1.03);
}

#theme-input:checked + #theme-input-button:hover,
body:has(#theme-input:checked) #change-lang .input:hover {
    filter: brightness(1.1);
}

#theme-input:checked + #theme-input-button {
    background: var(--element-color-dark);
}

#theme-input + #theme-input-button:after {
    border-radius: 50%;
    background-color: var(--element-color-light);
    background-image: url(../images/icons/sun-yellow.png);
    background-size: calc(var(--theme-input-height) - 10px);
    background-position: center;
    background-repeat: no-repeat;
    transition: background-color var(--transition-time) ease, background-image var(--transition-time) ease, left var(--transition-time) ease;
}

#theme-input:checked + #theme-input-button::after {
    background-color: var(--element-color-dark);
    background-image: url(../images/icons/moon-cyan.png);
}
