#redirect {
    margin: 50px 20px;
}

#redirect a {
    padding: 10px;
    border-radius: 7px;
    text-decoration: none;
    color: var(--text-color-light);
    background-color: var(--element-color-light);
    transition: background-color var(--transition-time) ease, color var(--transition-time) ease, filter var(--hover-time) ease;
}

body[theme="dark"] #redirect a {
    color: var(--text-color-dark);
    background-color: var(--element-color-dark);
}

#redirect a:hover {
    filter: drop-shadow(2px 2px 3px var(--hover-color-dark)) brightness(1.03);
}

body[theme="dark"] #redirect a:hover {
    filter: drop-shadow(2px 2px 3px var(--hover-color-dark)) brightness(1.03);
}
