body {
    font-family: Arial, sans-serif;
    user-select: none;
}

#content {
    margin: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.category {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.category-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-transform: uppercase;
    padding: 10px 0;
    border-bottom: 2px solid #ddd;
    transition: color var(--theme-time) ease, border-color var(--theme-time) ease;
}

body[theme="dark"] .category-title {
    color: #eee;
    border-color: #555;
}

.category-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.redirect {
    padding: 15px 20px;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
    background-color: #0af;
    transition: filter var(--hover-time) ease;
}

.redirect:hover {
    filter: drop-shadow(3px 3px 3px var(--hover-color-light)) brightness(1.01);
}

body[theme="dark"] .redirect:hover {
    filter: drop-shadow(3px 3px 3px var(--hover-color-dark)) brightness(1.01);
}
