:root {
    --user-gradient-color-1: #ddd;
    --user-gradient-color-2: #ddd;
    --user-gradient: var(--user-gradient-color-1) 0%, var(--user-gradient-color-2) 100%;
    --user-gradient-anim: linear-gradient(135deg, var(--user-gradient));
}

:root:has([theme="dark"]) {
    --user-gradient-color-1: #555;
    --user-gradient-color-2: #555;
}

@keyframes user-gradient {
    0% {
        --user-gradient-anim: linear-gradient(135deg, var(--user-gradient));
    }
    1% {
        --user-gradient-anim: linear-gradient(138.6deg, var(--user-gradient));
    }
    2% {
        --user-gradient-anim: linear-gradient(142.2deg, var(--user-gradient));
    }
    3% {
        --user-gradient-anim: linear-gradient(145.8deg, var(--user-gradient));
    }
    4% {
        --user-gradient-anim: linear-gradient(149.4deg, var(--user-gradient));
    }
    5% {
        --user-gradient-anim: linear-gradient(153deg, var(--user-gradient));
    }
    6% {
        --user-gradient-anim: linear-gradient(156.6deg, var(--user-gradient));
    }
    7% {
        --user-gradient-anim: linear-gradient(160.2deg, var(--user-gradient));
    }
    8% {
        --user-gradient-anim: linear-gradient(163.8deg, var(--user-gradient));
    }
    9% {
        --user-gradient-anim: linear-gradient(167.4deg, var(--user-gradient));
    }
    10% {
        --user-gradient-anim: linear-gradient(171deg, var(--user-gradient));
    }
    11% {
        --user-gradient-anim: linear-gradient(174.6deg, var(--user-gradient));
    }
    12% {
        --user-gradient-anim: linear-gradient(178.2deg, var(--user-gradient));
    }
    13% {
        --user-gradient-anim: linear-gradient(181.8deg, var(--user-gradient));
    }
    14% {
        --user-gradient-anim: linear-gradient(185.4deg, var(--user-gradient));
    }
    15% {
        --user-gradient-anim: linear-gradient(189deg, var(--user-gradient));
    }
    16% {
        --user-gradient-anim: linear-gradient(192.6deg, var(--user-gradient));
    }
    17% {
        --user-gradient-anim: linear-gradient(196.2deg, var(--user-gradient));
    }
    18% {
        --user-gradient-anim: linear-gradient(199.8deg, var(--user-gradient));
    }
    19% {
        --user-gradient-anim: linear-gradient(203.4deg, var(--user-gradient));
    }
    20% {
        --user-gradient-anim: linear-gradient(207deg, var(--user-gradient));
    }
    21% {
        --user-gradient-anim: linear-gradient(210.6deg, var(--user-gradient));
    }
    22% {
        --user-gradient-anim: linear-gradient(214.2deg, var(--user-gradient));
    }
    23% {
        --user-gradient-anim: linear-gradient(217.8deg, var(--user-gradient));
    }
    24% {
        --user-gradient-anim: linear-gradient(221.4deg, var(--user-gradient));
    }
    25% {
        --user-gradient-anim: linear-gradient(225deg, var(--user-gradient));
    }
    26% {
        --user-gradient-anim: linear-gradient(228.6deg, var(--user-gradient));
    }
    27% {
        --user-gradient-anim: linear-gradient(232.2deg, var(--user-gradient));
    }
    28% {
        --user-gradient-anim: linear-gradient(235.8deg, var(--user-gradient));
    }
    29% {
        --user-gradient-anim: linear-gradient(239.4deg, var(--user-gradient));
    }
    30% {
        --user-gradient-anim: linear-gradient(243deg, var(--user-gradient));
    }
    31% {
        --user-gradient-anim: linear-gradient(246.6deg, var(--user-gradient));
    }
    32% {
        --user-gradient-anim: linear-gradient(250.2deg, var(--user-gradient));
    }
    33% {
        --user-gradient-anim: linear-gradient(253.8deg, var(--user-gradient));
    }
    34% {
        --user-gradient-anim: linear-gradient(257.4deg, var(--user-gradient));
    }
    35% {
        --user-gradient-anim: linear-gradient(261deg, var(--user-gradient));
    }
    36% {
        --user-gradient-anim: linear-gradient(264.6deg, var(--user-gradient));
    }
    37% {
        --user-gradient-anim: linear-gradient(268.2deg, var(--user-gradient));
    }
    38% {
        --user-gradient-anim: linear-gradient(271.8deg, var(--user-gradient));
    }
    39% {
        --user-gradient-anim: linear-gradient(275.4deg, var(--user-gradient));
    }
    40% {
        --user-gradient-anim: linear-gradient(279deg, var(--user-gradient));
    }
    41% {
        --user-gradient-anim: linear-gradient(282.6deg, var(--user-gradient));
    }
    42% {
        --user-gradient-anim: linear-gradient(286.2deg, var(--user-gradient));
    }
    43% {
        --user-gradient-anim: linear-gradient(289.8deg, var(--user-gradient));
    }
    44% {
        --user-gradient-anim: linear-gradient(293.4deg, var(--user-gradient));
    }
    45% {
        --user-gradient-anim: linear-gradient(297deg, var(--user-gradient));
    }
    46% {
        --user-gradient-anim: linear-gradient(300.6deg, var(--user-gradient));
    }
    47% {
        --user-gradient-anim: linear-gradient(304.2deg, var(--user-gradient));
    }
    48% {
        --user-gradient-anim: linear-gradient(307.8deg, var(--user-gradient));
    }
    49% {
        --user-gradient-anim: linear-gradient(311.4deg, var(--user-gradient));
    }
    50% {
        --user-gradient-anim: linear-gradient(315deg, var(--user-gradient));
    }
    51% {
        --user-gradient-anim: linear-gradient(318.6deg, var(--user-gradient));
    }
    52% {
        --user-gradient-anim: linear-gradient(322.2deg, var(--user-gradient));
    }
    53% {
        --user-gradient-anim: linear-gradient(325.8deg, var(--user-gradient));
    }
    54% {
        --user-gradient-anim: linear-gradient(329.4deg, var(--user-gradient));
    }
    55% {
        --user-gradient-anim: linear-gradient(333deg, var(--user-gradient));
    }
    56% {
        --user-gradient-anim: linear-gradient(336.6deg, var(--user-gradient));
    }
    57% {
        --user-gradient-anim: linear-gradient(340.2deg, var(--user-gradient));
    }
    58% {
        --user-gradient-anim: linear-gradient(343.8deg, var(--user-gradient));
    }
    59% {
        --user-gradient-anim: linear-gradient(347.4deg, var(--user-gradient));
    }
    60% {
        --user-gradient-anim: linear-gradient(351deg, var(--user-gradient));
    }
    61% {
        --user-gradient-anim: linear-gradient(354.6deg, var(--user-gradient));
    }
    62% {
        --user-gradient-anim: linear-gradient(358.2deg, var(--user-gradient));
    }
    63% {
        --user-gradient-anim: linear-gradient(361.8deg, var(--user-gradient));
    }
    64% {
        --user-gradient-anim: linear-gradient(365.4deg, var(--user-gradient));
    }
    65% {
        --user-gradient-anim: linear-gradient(369deg, var(--user-gradient));
    }
    66% {
        --user-gradient-anim: linear-gradient(372.6deg, var(--user-gradient));
    }
    67% {
        --user-gradient-anim: linear-gradient(376.2deg, var(--user-gradient));
    }
    68% {
        --user-gradient-anim: linear-gradient(379.8deg, var(--user-gradient));
    }
    69% {
        --user-gradient-anim: linear-gradient(383.4deg, var(--user-gradient));
    }
    70% {
        --user-gradient-anim: linear-gradient(387deg, var(--user-gradient));
    }
    71% {
        --user-gradient-anim: linear-gradient(390.6deg, var(--user-gradient));
    }
    72% {
        --user-gradient-anim: linear-gradient(394.2deg, var(--user-gradient));
    }
    73% {
        --user-gradient-anim: linear-gradient(397.8deg, var(--user-gradient));
    }
    74% {
        --user-gradient-anim: linear-gradient(401.4deg, var(--user-gradient));
    }
    75% {
        --user-gradient-anim: linear-gradient(405deg, var(--user-gradient));
    }
    76% {
        --user-gradient-anim: linear-gradient(408.6deg, var(--user-gradient));
    }
    77% {
        --user-gradient-anim: linear-gradient(412.2deg, var(--user-gradient));
    }
    78% {
        --user-gradient-anim: linear-gradient(415.8deg, var(--user-gradient));
    }
    79% {
        --user-gradient-anim: linear-gradient(419.4deg, var(--user-gradient));
    }
    80% {
        --user-gradient-anim: linear-gradient(423deg, var(--user-gradient));
    }
    81% {
        --user-gradient-anim: linear-gradient(426.6deg, var(--user-gradient));
    }
    82% {
        --user-gradient-anim: linear-gradient(430.2deg, var(--user-gradient));
    }
    83% {
        --user-gradient-anim: linear-gradient(433.8deg, var(--user-gradient));
    }
    84% {
        --user-gradient-anim: linear-gradient(437.4deg, var(--user-gradient));
    }
    85% {
        --user-gradient-anim: linear-gradient(441deg, var(--user-gradient));
    }
    86% {
        --user-gradient-anim: linear-gradient(444.6deg, var(--user-gradient));
    }
    87% {
        --user-gradient-anim: linear-gradient(448.2deg, var(--user-gradient));
    }
    88% {
        --user-gradient-anim: linear-gradient(451.8deg, var(--user-gradient));
    }
    89% {
        --user-gradient-anim: linear-gradient(455.4deg, var(--user-gradient));
    }
    90% {
        --user-gradient-anim: linear-gradient(459deg, var(--user-gradient));
    }
    91% {
        --user-gradient-anim: linear-gradient(462.6deg, var(--user-gradient));
    }
    92% {
        --user-gradient-anim: linear-gradient(466.2deg, var(--user-gradient));
    }
    93% {
        --user-gradient-anim: linear-gradient(469.8deg, var(--user-gradient));
    }
    94% {
        --user-gradient-anim: linear-gradient(473.4deg, var(--user-gradient));
    }
    95% {
        --user-gradient-anim: linear-gradient(477deg, var(--user-gradient));
    }
    96% {
        --user-gradient-anim: linear-gradient(480.6deg, var(--user-gradient));
    }
    97% {
        --user-gradient-anim: linear-gradient(484.2deg, var(--user-gradient));
    }
    98% {
        --user-gradient-anim: linear-gradient(487.8deg, var(--user-gradient));
    }
    99% {
        --user-gradient-anim: linear-gradient(491.4deg, var(--user-gradient));
    }
    100% {
        --user-gradient-anim: linear-gradient(495deg, var(--user-gradient));
    }
}
