div#files-content {
    margin: 50px 100px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    /* gap: 75px; */
}

.file {
    display: inline-block;
    width: auto;
    padding: 10px;
    margin: auto 0 20px 5vw;
    max-width: 20vw;
    flex-grow: 1;
    text-align: center;
    border-radius: 7px;
    background-color: var(--element-color-light);
    transition: background-color var(--transition-time) ease;
}

body[theme="dark"] .file {
    background-color: var(--element-color-dark);
}

.file > a {
    text-decoration: none;
    color: var(--text-color-light);
    transition: color var(--transition-time) ease;
}

body[theme="dark"] .file > a {
    color: var(--text-color-dark);
}
