/* Fade Transition */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 200ms;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

/* Fade Slide Transition */
.fade-slide-enter-active,
.fade-slide-leave-active {
    transition:
        opacity 250ms,
        transform 250ms;
}
.fade-slide-enter-from {
    opacity: 0;
    transform: translateY(5px);
}
.fade-slide-leave-to {
    opacity: 0;
    transform: translateY(-5px);
}
